@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=M+PLUS+Rounded+1c:wght@300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: generalSans;
    src: url(./GeneralSans-Medium.otf);
}

@font-face {
    font-family: generalSansReg;
    src: url(./GeneralSans-Regular.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

:root {
    --font-family-primary: 'Dancing Script', cursive;
    --font-family-secondary: generalSans;
    --font-family-tertiary: 'M PLUS Rounded 1c', sans-serif;
    --font-family-main: GeneralSans-Regular;
    --page-margin: min(2rem, 5vw);
}



#page-1 {
    height: 100vh;
    width: 100%;
    background-color: #E8EDE9;
}

#page-1 nav {
    height: 5vh;
    padding: 4rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .head {
    color: #8199A5;
    font-family: var(--font-family-primary);
    font-size: 1.5rem;
    font-weight: 600;
}

nav .links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
    font-family: var(--font-family-tertiary);
    color: #56676fdd;
}

nav .links h4{
    font-size: 1rem;
    letter-spacing: 3px;
    font-weight: 500;
}

nav .links i {
    display: none;
    font-size: 1.3rem;
    font-weight: 600;
}

#page-1 .homepage {
    height: 83%;
    width: 100%;
    display: flex;
}

.homepage .left {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.homepage .left .image-cont {
    height: 75%;
    width: 48%;
    margin-right: 25px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    background-image: url(https://images.unsplash.com/photo-1607190074257-dd4b7af0309f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjN8fHdlZGRpbmd8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);
    background-position: center;
    transition: box-shadow ease 0.5s;
}

.homepage .left .image-cont:hover{
    box-shadow: rgba(0, 0, 0, 0.50) 0px -50px 66px -28px inset;

}


.homepage .right {
    height: 100%;
    width: 40%;
    padding-left: 25px;
}

.right .heading {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 15rem;
}

.homepage .right h1 {
    font-size: 4.5rem;
    font-family: var(--font-family-primary);
    color: #3b4a52;
    padding-left: 1.3em;
}

.homepage .right p {
    font-size: 1em;
    color: #3b4a52d1;
    font-family: var(--font-family-tertiary);
    font-weight: 600;
    line-height: 1.3;
    margin: 2rem 0 0 6rem;
}


 /* ------------------------------------ PAGE 2 */


#page-2{
    height: 100vh;
    width: 100%;
    background-color: #A0B9C0;
    display: flex;
}

#page-2 .left{
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    width: 50%;
    color: #FFFFFF;
    font-family: var(--font-family-tertiary);
    padding-right: 4rem;
    padding: 0;
}

#page-2 .left .content{
    text-align: left;
    width: 75%;
    height: 60%;
}

#page-2 .left .content h1{
    font-size: 3.1rem;
    /* padding: 1.2rem 0; */
    font-family: var(--font-family-tertiary);
    font-weight: 700;
    overflow: hidden;
    width: fit-content;
    position: relative;
}

#page-2 .left .content h1::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 4px;
    width: 0%;
    background-color: #818b90de;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

#page-2 .left .content h1:hover::after{
    width: 100%;
    left: 0;
}

#page-2 .left .content h5{
    font-size: 0.9rem;
    padding: 1rem 0;
    margin-top: 30px;
    line-height: 1.6;
    font-family: var(--font-family-secondary);
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #e8ede9dc;
}

#page-2 .left .content .main-span{
    color: #6a7457;
    font-family: var(--font-family-primary);
    font-size: 1.5rem;
    font-weight: 700;
}

#page-2 .left .content span{
    color: #6a7457;
    font-weight: 600;
}

#page-2 .right{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page-2 .right .image-cont-2{
    height: 65%;
    width: 50%;
    overflow: hidden;
    border-top-left-radius: 155px;
    border-top-right-radius: 155px;
    border-bottom-left-radius: 155px;
    border-bottom-right-radius: 155px;
    transition: all ease 0.5s;
}

#page-2 .right .image-cont-2:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin-top: -20px;
}


/* -------------------------------------------- Page 3 */

#page-3{
    height: 100vh;
    width: 100%;
    background-color: #F0F6F6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 100px;
}

#page-3 #info{
    height: 350px;
    width: 20%;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    text-align: center;
    border-radius: 15px;
    font-size: 0.7rem;
}

#page-3 .info-1 span{
    font-family: var(--font-family-primary);
    font-size: 1.3rem ;
    font-weight: 900;
}

#page-3 #info .main-heading h1{
    font-family: var(--font-family-secondary);
    margin: 120px 0 30px 0;
    color: #3B4A52;
}

#page-3 #info p{
    font-family: var(--font-family-tertiary);
    font-weight: 600;
    color: #3b4a52be;
    
} 


/* -------------------------------------------- Page 4 */

#page-4{
    height: 100vh;
    width: 100%;
    background-color: lightgreen;
}








@media (max-width:375px) {


    #page-1 nav {
        height: 5vh;
        padding: 3rem 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav .head {
        color: #8199A5;
        font-family: var(--font-family-primary);
        font-size: 4vw;
        line-height: 0.9;
        font-weight: normal;
    }

    nav .links h4 {
        display: none;
    }

    nav .links i {
        display: initial;
        font-size: 1.2rem;
        font-weight: 500;
    }

    #page-1 .homepage {
        height: 100%;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .homepage .left {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .homepage .left .image-cont {
        height: 100%;
        width: 78%;
        background-position: center;
        margin: 0;
    }

    .right .heading {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0;
    }

    .homepage .right {
        width: 100%;
        margin: 0.5em 0 0 0;
    }

    .homepage .right h1 {
        font-size: 3.8rem;
        font-family: var(--font-family-primary);
        color: #3b4a52;
        line-height: 0.8;
        padding: 1em 1.1em 0 1em;
    }

    .homepage .right p {
        font-size: 0.8em;
        color: #3b4a52d1;
        font-family: var(--font-family-tertiary);
        font-weight: 600;
        line-height: 1.3;
        text-align: center;
        margin: 1.2em;
    }


/* -------------------------------------- PAGE 2 */
#page-2{
    height: 100vh;
    width: 100%;
    background-color: #A0B9C0;
    display: flex;
    flex-direction: column-reverse;
    padding: 3rem 0.8rem;
}

#page-2 .left{
    justify-content: center;
    width: 100%;
}

#page-2 .left .content{
    text-align: center;
    width: 100%;
    height: 76%;
}

#page-2 .left .content h1{
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 1px;
    margin-bottom: 0.5em;
}

#page-2 .left .content h1::after{
    height: 0;
}


#page-2 .left .content h5{
    font-size: 0.8rem;
    line-height: 19px;
    letter-spacing: 0.5px;
    font-weight: 800;
    padding: 20px 0;
}

#page-2 .left .content .main-span{
    font-size: 1.3rem;
}

#page-2 .right{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page-2 .right .image-cont-2{
    margin-top: 30px;
    height: 100%;
    width: 80%;
    overflow: hidden;
    border-top-left-radius: 95px;
    border-top-right-radius: 95px;
    border-bottom-left-radius: 95px;
    border-bottom-right-radius: 95px;
    position: relative;
}

#page-2 .right .image-cont-2 img{
    position: absolute;
    right: -50%;
    bottom: -80%;
}


/* --------------------------------------------Page 3 */


#page-3{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 40px 40px;
}

#page-3 #info{
    height: 36%;
    width: 80%;
    margin-bottom: 30px;
    margin-top: 20px;
}

#page-3 #info .main-heading h1{
    font-family: var(--font-family-secondary);
    margin: 70px 0 20px 0;
    color: #3B4A52;
}

#page-3 #info p{
    font-family: var(--font-family-tertiary);
    font-weight: 600;
    color: #3b4a52be;
    font-size: 0.9em;
} 

  }
